html{
    background-color: black;
    color: white;
}

.start{
    text-align: center;
}


.box{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content:center;
    grid-template-areas:
    "s1 s2 s3"
    "s4 s5 s6"
    "s7 s8 s9";
}

h1{
    text-align: center;
    color: white;
}

.square1,.square2,.square3,.square4,.square5,.square6,.square7,.square8,.square9{
    border: solid 3px white;
    padding: 6vw;
    background-color: black;
    transition-duration:0.4s ;
    color:white;
    font-size: 2rem;
}


a{
    color: white;
    text-decoration: none;
    padding: 5px;
}

